---
import BaseLayout from "../layouts/base_layout.astro";
import {identity} from "../data/identity.js"

const pageTitle = "benmo.dev - About Me";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Hello! My name is {identity.firstName}. I'm an engineer currently living in {identity.city}, {identity.state}. I made this website to keep track of (and show off) my various projects.</p>

	<p>Maybe this will also help me stay on track with completing them too...</p>

	<p>Outside of engineering and writing code, I enjoy playing Super Smash Bros. (specifically Melee, the one for the Gamecube), power lifting, and cooking.</p>
</BaseLayout>